In [2]:
import numpy as pd
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from datetime import datetime

In [3]:
end_date = datetime.now().strftime("%Y-%m-%d")
data_pg = yf.download('PG', start='2000-1-1', end=end_date, progress= False)
data_pg.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-10-09,143.360001,143.970001,141.600006,143.360001,143.360001,5062200
2023-10-10,143.979996,145.220001,143.720001,144.779999,144.779999,5988900
2023-10-11,145.139999,145.559998,142.559998,143.000000,143.000000,5469100
2023-10-12,142.789993,143.929993,141.660004,143.320007,143.320007,5965600
2023-10-13,143.190002,145.029999,143.190002,144.690002,144.690002,7078900

In [5]:
shift = data_pg['Adj Close'].shift(1)
shift

Date
2000-01-03           NaN
2000-01-04     28.608187
2000-01-05     28.057699
2000-01-06     27.523916
2000-01-07     28.791664
                 ...
2023-10-09    144.089996
2023-10-10    143.360001
2023-10-11    144.779999
2023-10-12    143.000000
2023-10-13    143.320007
Name: Adj Close, Length: 5984, dtype: float64

In [8]:
df = pd.DataFrame({'A': [1, 2, 3, 4, 5],
                   'B': [10, 20, 30, 40, 50]})
 
# Deslocando a coluna 'A' por 2 posições
df['A'] = df['A'].shift(1)
 
# O DataFrame após a operação de deslocamento
print(df)

     A   B
0  NaN  10
1  1.0  20
2  2.0  30
3  3.0  40
4  4.0  50